$menuBgColor: #001529;
$activeTextColor: #ffffff;
$textColor: #e6d8da;
$iconColor: #ffffff;

:export {
	menuColor: $menuBgColor;
	menuTextColor: $textColor;
	menuActiveTextColor: $activeTextColor;
  iconColor: $iconColor;
}
