* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app {
	height: 100vh;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

:root {
  --el-color-primary: rgb(0, 0, 0);
}


[theme="dark"] {
	background: #304156;
	color: #fff;
}

[theme="light"] {
	background: #fff;
	color: #000;
}

[theme="dim"] {
	background: #ec8282;
	color: #000;
}

[theme="cafe"] {
	background: #2b1e1e;
	color: #000;
}

#nprogress {
	.bar {
		background-color: #48d8e3;
		height: 3px;
	}
}