@import "./common.scss";
@import "./transition.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app {
	height: 100vh;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nprogress {
	.bar {
		background-color: #48d8e3;
		height: 3px;
	}
}
