$head-height: 60px;
$tabs-height: 40px;
$menuWidth: var(--menu-width);
$minMenuWidth: 65px;
$transitionTime: 0.3s ease;
$logoHeight: 48px;
$tabHeight: 40px;
$footerHeight: 45px;
$activeTextColor: #409eff;
